<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Budgtr ALL</h1>
    <table>
    <% for(let i = 0; i < allBudget.length; i++) { %>  
      <tr>
        <td><%= allBudget[i].date %></td>
        <td><a href='/budget/<%= i%>'><%= allBudget[i].name %></a></td>
        <td><%= allBudget[i].amount %></td>
      </tr>
    <% } %>  
    </table>
    <form action="/budget/new">
      <input type="submit" value="Moo" />
  </body>
</html>
