<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container"></div>
  <h1>Add a New Item</h1>
  <form action="/budget/new" method="POST">
      <label for="date">Date:</label>
      <input type="text" id="date" name="date"><br><br>

      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      
      <label for="from">From:</label>
      <input type="text" id="from" name="from"><br><br>

      <label for="amount">Amount:</label>
      <input type="text" id="amount" name="amount"><br><br>

      <button type="submit">Submit</button> 
    </form> 
  
  </form>
</body>
</html>